body {
  @font-face {
    font-family: "Nerwus";
    src: url("../fonts/nerwus.eot");
    src: url("../fonts/nerwus.eot?#iefix") format("embedded-opentype"),
      url("../fonts/nerwus.otf") format("opentype"),
      url("../fonts/nerwus.svg") format("svg"),
      url("../fonts/nerwus.ttf") format("truetype"),
      url("../fonts/nerwus.woff") format("woff"),
      url("../fonts/nerwus.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    // max-width: 100vw;
  }
  background-image: url(../img/bgimage.jpg);
}
