header {
  width: 100%;
  overflow: hidden;
  max-height: 100vh;
  background-color: rgb(253, 253, 253);
  transform: translate(0, -76px);
  .uperThanVideo {
    position: relative;
    z-index: 20;
  }
  .firstVideo {
    position: relative;
    height: 100vh;
    background-color: black;
    video {
      position: absolute;
      height: 100%;
      opacity: 0.5;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}
