nav {
  position: sticky;
  top: 0px;
  left: 0px;
  background-color: rgba(12, 12, 12, 0.95);
  // color: white;
  padding: 10px 10px;
  z-index: 300;
  height: 76px;

  .logo {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    color: white;
  }
}
