nav {
  position: sticky;
  top: 0px;
  left: 0px;
  // color: white;
  // padding: 10px 10px;
  z-index: 300;
  height: 76px;
  width: 100%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;

  .logo {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    color: white;
  }
}

.paddingNav {
  position: relative;
  // z-index: 10;
  padding: 10px 20px;
  width: 100%;
}

.navBacgdround {
  position: absolute;
  // background-color: red;
  background-color: rgba(#000, 0.95);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  width: 100%;
  height: 76px;
}

.navBacgdroundDown {
  transform: translate(0, 0);
}

.navBacgdroundUp {
  transform: translate(0, -76px);
}

.navDown {
  transform: translate(0, 0);
}

.navdUp {
  transform: translate(0, -55px);
}

.menuNav {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 0;
  background-color: rgba(#000, 0.95);
  // background-color: rgba(#979797, 0.95);
  padding: 10px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 70%;
  height: 115px;
  padding-top: 80px;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  overflow: hidden;
  ul {
    // list-style: none;
    text-align: center;
    li {
      display: inline;
      // padding: 20px;
    }
  }
  // @media all and (max-width: 991px) {
  //   & {
  //     display: none;
  //   }
  // }
}

.buttonEffectIndex {
  z-index: 100;
}

.menuNavDown {
  transform: translate(-50%, -12px);
}
.menuNavUp {
  transform: translate(-50%, -55px);
}

.menuNavUpMobile {
  @media all and (max-width: 991px) {
    & {
      transform: translate(-100%, -52px);
    }
  }
}

.elementNav {
  // padding: 28px;
  padding: 12px;
  // padding-right: 20px;
  // padding-left: 10px;
  // margin: 0 auto;
  color: white;
  font-weight: 700;
  &:hover {
    text-decoration: none;
    color: #c82333;
  }
}
.menuMobilePosition {
  position: relative;
  width: 100%;
}
.menuMobile {
  position: absolute;
  left: 50%;
  height: 46px;
  width: 46px;
  transform: rotate(90deg) translate(0, 50%);
  transition-property: background-color, transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  .line1 {
    display: inline-block;
    height: 40px;
    width: 3px;
    background-color: white;
    margin: 3px;
    border-radius: 10px;
    transition-property: background-color, transform;
    transition-duration: 0.2s;
    transition-timing-function: ease;
  }
  .line2 {
    display: inline-block;
    height: 40px;
    width: 3px;
    background-color: white;
    margin: 3px;
    border-radius: 10px;
    transition-property: background-color, transform;
    transition-duration: 0.2s;
    transition-timing-function: ease;
  }
  .line3 {
    display: inline-block;
    height: 40px;
    width: 3px;
    background-color: white;
    margin: 3px;
    border-radius: 10px;
    transition-property: background-color, transform, opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease;
  }
  &:hover {
    .line1 {
      background-color: #c82333;
    }
    .line2 {
      background-color: #c82333;
    }
    .line3 {
      background-color: #c82333;
    }
  }
}
.menuMobileActive {
  // transform: translate(34px, 10px);
  .line1 {
    transform: rotate(45deg) translate(7px, -6px);
  }
  .line2 {
    transform: rotate(-45deg);
  }
  .line3 {
    opacity: 0;
  }
}

.menuMobileClass {
  div {
    font-size: 1.4rem;
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 5px;
    transition-property: background-color;
    transition-duration: 0.1s;
    transition-timing-function: ease;
    &:hover {
      background-color: rgba(#c82333, 0.6);
    }
    &:active {
      background-color: rgba(#c82333, 0.8);
    }
  }
}
